.nav-box
{
    width: 100%;
    height: 80px;

    background: white;

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
}

.nav-box .nav-container
{
    width: 1520px;
    margin: 0 auto;
}

.nav-box .nav-container .nav-column a
{
    text-decoration: none;
    color: black;
}

.nav-box .nav-container .nav-column .logo
{
    font-size: 20px;
    font-weight: 700;
    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-box .nav-container .nav-column .logo span
{
    color: #F97044;
}

.nav-box .nav-container .nav-column ul
{
    display: flex;

    padding: 0;
}

.nav-box .nav-container .nav-column ul a
{
    font-size: 20px;
    font-weight: 500;

    margin-right: 55px;

    transition: 0.2s;
}

.nav-box .nav-container .nav-column ul a:hover
{
    color: #F97044;

    transition: 0.2s;
}

.nav-box .nav-container .nav-column button
{
    background: transparent;
    border: transparent;

    padding: 0;

    font-size: 20px;
    font-weight: 500;

    cursor: pointer;
    transition: 0.2s;
}

.nav-box .nav-container .nav-column button:hover
{
    color: #F97044;

    transition: 0.2s;
}

.df
{
    display: flex;
    justify-content: space-between;
}